name: Tests CI
on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ "16", "17" ]
    name: Node ${{ matrix.node }} tests
    steps:
      - uses: actions/checkout@v2
      - name: Test using Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - run: yarn install
      - run: yarn lint
      - run: yarn audit --groups dependencies
      - run: yarn test:unit --coverage
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          config-file: cypress.json
          build: yarn build
          start: yarn serve
          record: false
          browser: chrome
          wait-on: 'http://localhost:8080'
